Data-Flow-Nifi/GFTS/shapes.txt filter=lfs diff=lfs merge=lfs -text
spark/work/.ivy2/cache/com.amazonaws/aws-java-sdk-bundle/jars/aws-java-sdk-bundle-1.12.180.jar filter=lfs diff=lfs merge=lfs -text
spark/work/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.12.180.jar filter=lfs diff=lfs merge=lfs -text
